body
{
	background-image: url("../images/metro-2942353_1920.jpg");	
}


/* styling for top jumbotron*/
.jumbotron
{
 background: rgba(0,0,0, .5);
 margin-top: 2%;
 color: white;
 padding-top: 0;
 padding-bottom: 10px;
}

h1, h2
{
	font-weight: 900;
}

/* hides 'Update' button and 'Add Train'/'Update Train' panel */
#update-btn , #add-panel 
{
	display: none;
}

/*makes panel backrounds semi-transparent*/
#schedule-panel, #add-panel
{
	background: rgba(255,255,255,.9);
}


/* used on span glyphicons to enlarge when hovered over*/
.pop:hover
{
	transform: scale(1.25 , 1.25);
}
